<?php
/**
 * @var $block Commercers\AutoLogin\Block\Customer\AssociatedCustomers
 */

$collection = $block->prepareCollection();
?>
<?php if ($collection->getSize()): ?>
    <div class="table-wrapper auto-login">
        <table class="data table table-sub-accounts">
            <caption class="table-caption"><?= $block->escapeHtml(__('Associated Customers')) ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col id"><?= $block->escapeHtml(__('Customer Id')) ?></th>
                <th scope="col" class="col total"><?= $block->escapeHtml(__('Full Name')) ?></th>
                <th scope="col" class="col date"><?= $block->escapeHtml(__('Email')) ?></th>
                <th scope="col" class="col status"><?= $block->escapeHtml(__('Status')) ?></th>
                <th scope="col" class="col actions"><?= $block->escapeHtml(__('Action')) ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($collection as $subAccount): ?>
                <tr>
                    <td data-th="<?= $block->escapeHtml(__('Customer Id')) ?>"><?= $block->escapeHtml($subAccount->getSubAccountId()) ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Name')) ?>"><?= $block->escapeHtml($subAccount->getData('firstname') . ' ' .$subAccount->getData('lastname')) ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Email')) ?>"><?= $block->escapeHtml($subAccount->getEmail()) ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Status')) ?>"><?php echo ($subAccount->getIsActive()) ? __('Active') :  __('Deactive'); ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Action')) ?>">
                        <a href="<?php echo $block->getUrl('autologin/customer/forcesignin', ['_token' => $subAccount->getToken(), 'is_back' => false, 'redirect' => '']) ?>">Force
                            Sign-in</a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else:?>
    <div class="message info empty"><span><?= $block->escapeHtml(__('You have no associated customers')) ?></span></div>
<?php endif; ?>
