<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$controller = $block->getRequest()->getFullActionName();
?>
<?php
/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */
?>
<link rel="stylesheet" type="text/css" href="<?php echo $block->getViewFileUrl('Ves_Megamenu::css/foundation.min.css')?>">
<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>
<div class="vertical-navigation">
    <div class="drilldown">
        <div class="drilldown-container">
            <ul id="mb-nav-vertical" class="vertical menu" data-drilldown data-parent-link="true" data-back-button='<li class="js-drilldown-back"><a class="new-back"><?= __('Back') ?></a></li>'>
                <?= /* @escapeNotVerified */ $_menu ?>
                <?= /* @escapeNotVerified */ $block->getChildHtml() ?>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    require([
        'jquery',
        'js/foundation/foundation.core',
        'js/foundation/foundation.drilldown',
        'js/foundation/foundation.util.box',
        'js/foundation/foundation.util.keyboard',
        'js/foundation/foundation.util.nest',
    ], function($) {
        $('#mb-nav-vertical ul').addClass('vertical menu');
        $(document).foundation();


        $('.header.content .action.nav-toggle').click(function (){
            $('.sections.nav-sections').toggleClass('menu-active');
            $('body').toggleClass('menu-active');
            if ($('body').hasClass('menu-active')) {
                $('.page-wrapper').after('<div class="overlay"></div>');
                $('.overlay').click(function() {
                    $('.sections.nav-sections').toggleClass('menu-active');
                    $('body').toggleClass('menu-active');
                    $('.overlay').remove();
                });
            } else {
                $('.overlay').remove();
            }
        });
    });
</script>
