<?php
/**
 * Template for displaying new products widget
 *
 * @var $block \Magento\Catalog\Block\Product\Widget\NewWidget
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$collection = $productCollection->create()
    ->addAttributeToSelect('*');
$collection->getSelect()->order('created_at DESC');
$collection->getSelect()->limit(8);
$helperImport = $objectManager->get('\Magento\Catalog\Helper\Image');
?>
<?php
foreach ($collection as $product){
    $imageUrl = $helperImport->init($product, 'product_page_image_small')
        ->setImageFile($product->getSmallImage()) // image,small_image,thumbnail
        ->resize(150,120)
        ->getUrl();
    ?>
    <div class="item">
        <div class="product-item" >
            <div class="product-item-info">
                <a href="<?= $product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                    <img class="owl-lazy" data-src="<?= $imageUrl?>" alt="<?= $product->getName();?>"
                         src="<?= $imageUrl?>" style="opacity: 1;">
                </a>
                <div class="product-item-details">
                    <strong class="product-item-name" itemprop="name">
                        <a title="<?= $product->getName();?>" href="<?= $product->getProductUrl() ?>"
                           class="product-item-link">
                            <?= $product->getName()?>
                        </a>
                    </strong>
                    <div class="product-item-actions">
                        <form data-role="tocart-form" action="<?= $this->getAddToCartUrl($product, []); ?>" method="post">
                            <div class="actions-primary">
                                <button class="action primary tocart" type="submit" title="In den Warenkorb"
                                        id="product-addtocart-button" >
                                    <span>In den Warenkorb</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php } ?>
<script type="text/javascript">
    require(["jquery",
        'owl_carousel',
    ], function ($) {
        $('.slide-product').owlCarousel({
            items:4,
            loop: true,
            autoplay: false,
            margin: 30,
            autoplaySpeed: 2500,
            autoplayTimeout: 7000,
            autoplayHoverPause:true,
            dots: true,
            responsive : {
                0 : {
                    items : 2,
                },
                768 : {
                    items : 3,
                },
                1024 : {
                    items : 4,
                }
            }
        });
        $('.home-slider').owlCarousel({
            items:1,
            loop: true,
            autoplay: true,
            autoplaySpeed: 2500,
            autoplayTimeout: 7000,
            autoplayHoverPause:true,
            nav: true,
            dots: true,
            navText: ['<span class="arrow-left"></span>','<span class="arrow-right"></span>'],
        });
    });
</script>
