.mode-price-wrap{

    display: inline-block;

    text-align: right;

    padding-left: 10px;

    float: right;

}

.mode-price-wrap > span:hover{

    cursor: pointer;

}

body[data-mode="hidden-price"] .price{

    display: none!important;

}

.price-mode{

    padding: 0 15px;

    display: flex;

    align-items: center;

    justify-content: space-between;

}

.price-mode .switch {

    position: relative;

    display: inline-block;

    width: 45px;

    height: 24px;

}

.price-mode .switch input {

    opacity: 0;

    width: 0;

    height: 0;

}

.price-mode .switch .slider {

    position: absolute;

    cursor: pointer;

    top: 0;

    border-radius: 15px;

    left: 0;

    right: 0;

    bottom: 0;

    background-color: #ccc;

    -webkit-transition: .4s;

    transition: .4s;

}

.price-mode .slider:before {

    position: absolute;

    content: "";

    height: 17px;

    width: 17px;

    left: 4px;

    bottom: 4px;

    background-color: white;

    -webkit-transition: .4s;

    transition: .4s;

    border-radius: 50%;

}

.price-mode input:checked + .slider {

    background-color: #2196F3;

}

.price-mode input:checked + .slider:before {

    -webkit-transform: translateX(21px);

    -ms-transform: translateX(21px);

    transform: translateX(21px);

}

.header.links{

    padding-right: 20px!important;

}

.checkout-container .opc-progress-bar .customer-attribute-message{

    font-size: 16px;

    display: block;

    margin-top: 20px;

    color: #ff0000;

}

.opc-progress-bar > .opc-progress-bar-item._complete + .opc-progress-bar-item._active + .customer-attribute-message{

    display: none;

}

.checkout-container .opc-progress-bar .customer-attribute-message{

    font-size: 16px;

    display: block;

    margin-top: 20px;

    color: #ff0000;

}

.opc-progress-bar > .opc-progress-bar-item._complete + .opc-progress-bar-item._active + .customer-attribute-message{

    display: none;

}

/* New Design */

.arrow-left::before {
    content: "\f053";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    transition: 0.3s ease-in;
    top: calc(40%);
    position: absolute;
    left: -30px;
    font-size: 40px;
}
.arrow-right::before {
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    transition: 0.3s ease-in;
    top: calc(40%);
    position: absolute;
    right: -30px;
    font-size: 40px;
}
.cms-home .page-title-wrapper{
    margin-top: 30px;
    text-align: center;
}

.customer-account-login .message{
    padding: 15px 20px 14px 25px;
}
.slide-product .product-item-info{
    width: initial;
}
.slide-product.owl-carousel.owl-drag .owl-item{
    padding: 0px 40px;
}
.nav-sections-item-content.scroll-to-fixed-fixed{
    left: 0!important;
}

/* Responsive */
@media only screen and (max-width: 1299px){
    .arrow-right::before{
        right: 0;
    }
    .arrow-left::before{
        left: 0;
    }
    .arrow-left::before, .arrow-right::before{
        font-size: 30px;
        color: #fff;
        padding: 8px 14px;
        background: rgb(86,83,83,0.4);
    }
}
@media only screen and (max-width: 1024px){
    #maincontent{
        overflow: hidden;
    }
    .slide-product .product-item-info{
        margin-left: 0;
    }
    /*.ves-click.fa.fa-arrow-right{*/
    /*    display: none;*/
    /*}*/
    .cart-container{
        display: flex;
        flex-wrap: wrap;
    }
    .cart-container .cart-summary{
        width: 100%;
        top: initial!important;
    }
    .cart-container .form-cart{
        width: 100%!important;
    }
    tbody.cart.item .price, tbody.cart.item .product-item-name > a{
        font-size: 15px;
    }
    .cart.table-wrapper .product-image-wrapper .product-image-photo{
        max-width: 120px;
    }
}
@media only screen and (max-width: 991px){
    .price-mode{
        flex-wrap: wrap;
    }
    .price-mode .switch{
        margin-top: 10px;
    }
    .account .column.main .block.block-order-details-view .block-title{
        margin-bottom: 30px;
    }
    .account .column.main .block.block-order-details-view .block-content{
        display: flex;
        flex-wrap: wrap;
    }
    .account .column.main .block.block-order-details-view .block-content .box{
        width: 50%!important;
    }
}
@media only screen and (min-width: 768px){
    .sections.nav-sections .section-items.nav-sections-items{
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
    }
}
@media only screen and (max-width: 500px){
    .slide-product.owl-carousel.owl-drag .owl-item{
        padding: 0;
    }
}
