<li id="shipping" class="checkout-shipping-address" data-bind="visible: !quoteIsVirtual">

    <div id="checkout-step-shipping" class="step-content" data-role="content" data-bind="fadeVisible: visible()">
        <each args="getRegion('before-form')" render="" />
<!--        <span class="customer-attribute-message" data-bind="i18n: 'Please select a division to continue check-out'"></span>-->
        <div class="step-header">
            <div class="step-title" data-bind="i18n: 'Shipping Address'" data-role="title"></div>
        </div>
        <!-- ko template: 'Commercers_OnepageCheckout/shipping-address/form' -->
        <!-- /ko -->
<!--        <div class="shipping-bottom">-->
<!--            <form class="form form-bottom-submit" data-bind="submit: setShippingInformation" novalidate="novalidate">-->
<!--                <div class="actions-toolbar">-->
<!--                    <div class="divisionOptionChange ">-->
<!--                        <button data-role="opc-continue" type="submit" class="button action continue primary">-->
<!--                            <span>-->
<!--                                &lt;!&ndash; ko i18n: 'Next'&ndash;&gt;-->
<!--                                &lt;!&ndash; /ko &ndash;&gt;-->
<!--                            </span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
    </div>
</li>
<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title"
             translate="'Shipping Methods'"
             data-role="title" />

        <each args="getRegion('before-shipping-method-form')" render="" />

        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <form id="co-shipping-method-form"
                  class="form methods-shipping"
                  if="rates().length"
                  submit="setShippingInformation"
                  novalidate="novalidate">

                <render args="shippingMethodListTemplate"/>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <each args="getRegion('shippingAdditional')" render="" />
                </div>
                <div role="alert"
                     if="errorValidationMessage().length"
                     class="message notice">
                    <span text="errorValidationMessage()" />
                </div>
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button id="btn-shipping-address" data-role="opc-continue" type="submit" class="button action continue primary">
                            <span translate="'Next'" />
                        </button>
                    </div>
                </div>
            </form>
            <div class="no-quotes-block"
                 ifnot="rates().length > 0"
                 translate="'Sorry, no quotes are available for this order at this time'" />
            </div>
    </div>
</li>
<div id="loading-mask" style="display:none;">
    <p class="loader" id="loading-mask-loader" data-bind="i18n: 'Please wait...'">
        Please wait...
    </p>
    <img data-bind="attr: { src: require.toUrl('Commercers_OnepageCheckout/images/opc-ajax-loader.gif') }" />
</div>

