<?php
/**
 * @var $block Commercers\Profilers\Block\Adminhtml\Form\Actions
 */
$actionProcess = $block->getActionProcessValues();
?>
<div>
    <table class="data-table admin__table-primary">
        <h2>Send Email</h2>
        <tr>
            <td>
                <?php echo __("Email Address"); ?>
            </td>
            <td>
                <input type="text" name="action_process_encode[email]"
                       data-form-part="profilers_form" class="admin__control-text" value="<?php echo isset($actionProcess['email']) ? $actionProcess['email']: ''?>"/>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo __("Email Template"); ?>
            </td>
            <td>
                <select data-form-part="profilers_form" class="admin__control-text" name="action_process_encode[email_template]" id="email_template">
                    <option value="0"><?php echo __("Choose..."); ?></option>
                    <?php foreach ($block->getEmailTemplate() as $emailTemplate):
                        $selected = '';
                        if(isset($actionProcess['email_template']) && $actionProcess['email_template'] == $emailTemplate['value']) $selected = "selected";
                        ?>

                        <option value="<?php echo $emailTemplate['value'];?>" <?php echo $selected; ?> ><?php echo $emailTemplate['label'];?></option>
                    <?php endforeach;?>
                </select>
            </td>
        </tr>
    </table>
</div>

