<?php
$arrItemsOrder = $this->getAllItemNeedApproval();
$statusItemOrder = '';
$active = 'active';
?>
<div id="message-approval">
</div>

<div id="message-approval-check-item-exists">
</div>
<?php
if($arrItemsOrder){
?>
    <table class="table-supervisory-order-item" id="table-supervisory-order-item">
        <tr>
            <th><?= __("Order No.") ?></th>
            <th><?= __("Date:") ?></th>
            <th><?= __("Item Name:") ?></th>
            <th><?= __("Quantity") ?></th>
            <th class="col status"><?= __("Status:") ?></th>
        </tr>
        <?php foreach ($arrItemsOrder as $orderId => $itemOrder) : ?>
            <?php $rowItemOrder = count($itemOrder) ?>
            <?php $incrementOrderItem = $this->getIncrementOrderItem($orderId); ?>
            <?php foreach ($itemOrder as  $subItemOrder) : ?>
                <tr class="row-item <?= $subItemOrder["approval_code"] ?>">
                    <td ><?= $incrementOrderItem ?></td>
                    <td><?= $subItemOrder["created_at"] ?></td>
                    <td><?= $subItemOrder["order_item_name"] ?></td>
                    <td><?= $this->getQtyItemOrder($subItemOrder["order_id"],$subItemOrder["order_item_id"]) ?></td>
                    <td class="status-item-order">
                        <?php
                        if(!$subItemOrder["status"]){
                            ?>
                            <div class="btn-approve <?= $subItemOrder["approval_code"] ?>">
                                <button value="<?= $subItemOrder["approval_code"] ?>" class="btn btn-primary btn-approve-submit <?= $subItemOrder["approval_code"] ?>"><?= __("Approve") ?></button>
                            </div>
                            <div class="btn-disapprove <?= $subItemOrder["approval_code"] ?>">
                                <button value="<?= $subItemOrder["approval_code"] ?>" class="btn btn-danger btn-disapprove-submit <?= $subItemOrder["approval_code"] ?>"><?= __("Disapprove") ?></button>
                            </div>
                            <?php
                        }else{
                            if($subItemOrder["status"] == \Commercers\OrderApproval\Model\Data::ORDER_APPROVAL_STATUS_APPROVED){
                                $statusItemOrder = 'approve';
                                ?>
                                <div class="btn-approve <?= $active?>">
                                    <button disabled class="btn-approve-submit btn btn-primary <?= $statusItemOrder?>"><?= __("Approve") ?></button>
                                </div>
                                <div class="btn-disapprove">
                                    <button  disabled class="btn-disapprove-submit btn btn-danger <?= $statusItemOrder?>"><?= __("Disapprove") ?></button>
                                </div>
                                <?php
                            }
                        }
                        ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </table>
<?php
}else{
?>
    <div class="div-notice">
        <p class="text-notice"><?= __("You haven't any item need approval"); ?></p>
    </div>
<?php
}
?>

<div id="loading-mask">
    <p class="loader" id="loading-mask-loader">
        <?= __("Please wait...") ?>
    </p>
    <img src="<?= $this->getUrlMedia().'commercers/orderapproval/ajax-loader-tr.gif' ?>" />
</div>

<?php
$data = [];
$data["supervisorName"] = $this->getNameCustomer();
$data["urlApprovalItemOrder"] = $this->getUrlApprovalItemOrder();
?>
<!--<script type="text/x-magento-init">-->
<!--    {-->
<!--        "*": {-->
<!--            "Commercers_OrderApproval/js/approve-item-order": --><?//= json_encode($data); ?>
<!--        }-->
<!--    }-->
<!--</script>-->

<script type="text/x-magento-init">
        {
            "*": {
                "supervisory": <?= json_encode($data); ?>
            }
        }
</script>