<?php
// @codingStandardsIgnoreFile

?>

<a class="action print snmportal"
   href="<?php /* @escapeNotVerified */
   echo $block->getPrintUrl() ?>"
   onclick="this.target='_blank';">
    <span><?php /* @escapeNotVerified */
        echo $block->getButtonLabel(); ?></span>
</a>

