<table class="admin__dynamic-rows admin__control-table rule-tree table-supervisors">
    <thead>
        <tr>
            <th style="background-color: #6F8992;color: #fff;" colspan="4" class="_empty" for="supervisors-title" data-bind="i18n: 'Supervisors'">Supervisors</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: formSupervisorsCollection">
        <div class="item_supervisors">
            <tr>
                <td>
                    <label for="email_supervisor" data-bind="i18n: 'Send Reminder Email to'">Send Reminder Email to</label>
                    <input style="width:300px" id="email_supervisor" name="email_supervisor" required data-bind="value: supervisorEmail" class="validate-email input-text required-entry" type="email">
                </td>
                <td>
                    <label for="name_supervisor" data-bind="i18n: 'Approver Name'">Approver Name</label>
                    <input id="name_supervisor" name="name_supervisor" required data-bind="value: supervisorName" class="validate-email input-text required-entry"
 type="text">
                </td>
                <td>
                    <label for="status_supervisor" data-bind="i18n: 'Active'">Active</label>
                    <select class="select" data-bind="options: $parent.activeOptions,
                        value: supervisorStatus,
                        optionsValue: 'valueActive',
                        optionsText: 'labelActive'">
                    </select>
                </td>
                <td style="text-align:right">
                    <button data-bind="click: $parent.removeSupervisorsModel.bind($parent), i18n:'Remove Item'" type="button">Remove Item</button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div data-bind="html: gridCustomerData,attr: { id: 'grid-customers-' + $index() } "></div>
                </td>
            </tr>
<!--            <tr>-->
<!--                <td colspan="4">-->
<!--                    <input type="text" disabled data-bind="attr: {name: 'supervisor_'+$index()+'[customers]'}">-->
<!--                </td>-->
<!--            </tr>-->
            <tr class="col-supervisor_id" style="display: none">
                <td colspan="4">
                    <input type="hidden" disabled id="supervisor_id" name="supervisor_id" data-bind="value: supervisorId">
                </td>
            </tr>
        </div>

    </tbody>
    <tfoot>
        <tr>
            <td style="background: transparent">
                <button class="action primary" data-bind="click: addSupervisorsModel, i18n:'Add Item'" type="button">Add Item</button>
            </td>
        </tr>
    </tfoot>
</table>

<input name="approval_items" type="hidden" data-bind="value: getItemsJson()"/>

