<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_ProductAttachment
 */
?>
<?php
/** @var \Amasty\ProductAttachment\Block\Widgets\AttachmentsList $block */
?>
<?php if ($files = $block->getAttachments()): ?>
    <div class="widget am-attachments am-attachments-<?= $block->escapeHtml($block->getWidgetType()); ?>">
        <?php if ($block->getBlockTitle()): ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml($block->getBlockTitle()); ?></strong>
        </div>
        <?php endif; ?>

        <?php foreach ($files as $file): ?>
            <div class="am-fileline">
                <?php if ($block->isShowIcon() && $file->getIconUrl()): ?>
                <img src="<?= $block->escapeUrl($file->getIconUrl()) ?>" class="am-fileicon" />
                <?php endif; ?>

                <a href="<?= $block->escapeUrl($file->getFrontendUrl()) ?>" class="am-filelink" target="_blank">
                    <?= $block->escapeHtml($file->getLabel()); ?>
                </a>

                <?php if ($block->isShowFilesize() && $file->getFileSize()): ?>
                    <span class="am-filesize">(<?= $block->escapeHtml($file->getReadableFileSize()) ?>)</span>
                <?php endif ?>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
