<form action="" id="co-shipping-form" >
    <ul class="form-list">
        <li>
            <label for="shipping-address-select" data-bind="i18n: 'Please select a customer shipping address'">Please select a customer shipping address</label>
        </li>
        <li>
            <fieldset style="border:none">
                <ul class="shippingaddresses-wrap">
                    <li>
                        <div class="shippingaddresses-filter">
                            <label for="customer-number" data-bind="i18n: 'Customer number'"></label>
                            <div class="input-box shippingaddresses-filter-box">
                                <input type=text  class="input-text shippingaddresses-filter"
                                       id="customer-number" data-bind="event: {keyup: submitFilterAddress}" />
                            </div>
                        </div>
                        <div class="shippingaddresses-filter">
                            <label for="customer-name" data-bind="i18n: 'Customer Name'">Customer Name</label>
                            <div class="input-box shippingaddresses-filter-box">
                                <input type=text  class="input-text shippingaddresses-filter"
                                       id="customer-name" data-bind="event: {keyup: submitFilterAddress}" />
                            </div>
                        </div>
                        <div class="shippingaddresses-filter">
                            <label for="customer-city" data-bind="i18n: 'City'">City</label>
                            <div class="input-box shippingaddresses-filter-box">
                                <input type=text class="input-text shippingaddresses-filter"
                                       id="customer-city" data-bind="event: {keyup: submitFilterAddress}" />
                            </div>
                        </div>
                        <div class="shippingaddresses-filter">
                            <label for="customer-postal-code" data-bind="i18n: 'Postal Code'">Postal Code</label>
                            <div class="input-box shippingaddresses-filter-box">
                                <input type=text class="input-text shippingaddresses-filter"
                                       id="customer-postal-code" data-bind="event: {keyup: submitFilterAddress}" />
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="filteraddresses-button">
                    <li>
                        <div id="submit-filter-address">
                            <button type="button" class="button submit-filter-address" data-bind="click: searchFilterAddresses" disabled>
                                <span data-bind="i18n: 'Suche'">Suche</span>
                            </button>
                        </div>

                        <div class="validation-advice" id="sa-notfound" style="display:none" data-bind="i18n: 'No results found. Please change the search string.'">No results found. Please change the search string.</div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="input-box" id="shipping-address-container">
                            <select name="commercers_shipping_address_id" id="shipping-address-select" data-bind="click:fillAddressForm" class="address-select address-multiple" title="" size="5"></select>
                        </div>
                    </li>
                </ul>
            </fieldset>
        </li>
        <li id="shipping-new-address-parent-form">
            <ul id="shipping-new-address">
<!--                <li class="fields">-->
<!--                    <div class="field">-->
<!--                        <label for="shipping-account" data-bind="i18n: 'Choose a contact'"></label>-->
<!--                        <div class="input-box" id="wrap-shipping-address-select-alt2">-->
<!--                            <select name="shipping-address-select-alt2" id="shipping-address-select-alt2" class="address-select address-multiple shipping-address-select-alt-custom">-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="fields">-->
<!--                    <div class="field-shipping-account">-->
<!--                    <div class="field-shipping-account">-->
<!--                        <label for="shipping-account" data-bind="i18n: 'Customer account number'"></label>-->
<!--                        <div class="input-box">-->
<!--                            <input type="text" id="shipping-account" name="commercers-accountnumber" value="" title="Customer account number" class="input-text" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
                <!--            <li class="fields">-->
                <!--                <div id="opc-new-shipping-address"-->
                <!--                     render="shippingFormTemplate" />-->
                <!--            </li>-->
                <li class="fields-form">
                    <div id="shipping-new-address-form" class="fieldset address">
<!--                        <div class="field field-shipping-email">-->
<!--                            <label for="shipping-email" data-bind="i18n: 'Email Address'"></label>-->
<!--                            <div class="input-box">-->
<!--                                <input type="text" name="shippingEmail"-->
<!--                                       id="shipping-email"-->
<!--                                       value=""-->
<!--                                       data-bind="attr: {'title': $t('Email Address')}"-->
<!--                                       class="input-texshippingEmailt validate-email" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="field">-->
<!--                            <label for="shipping-company-name" data-bind="i18n: 'Firma 2'"></label>-->
<!--                            <div class="input-box">-->
<!--                                <input type="text" id="shipping-company-name"-->
<!--                                       name="shippingCompanyName"-->
<!--                                       value=""-->
<!--                                       data-bind="attr: {'title': $t('Firma 2')}"-->
<!--                                       class="input-text" />-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="field field-btn-contact" name="button-contact">
                            <div class="message-save-contact" id="message-save-contact">
                                <p class="text-message" data-bind="i18n: 'Information Contact Has Saved'"></p>
                            </div>
                            <button type="button" class="action primary btn-contact" id="btn-save-contact" data-bind="click: saveContactAddress" >
                                <span data-bind="i18n: 'Save Contact'"></span>
                            </button>
                        </div>

                        <!-- ko foreach: getRegion('additional-fieldsets') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!--/ko-->
                        <!-- ko if: (isCustomerLoggedIn) -->
<!--                        <div class="field choice save-address">-->
<!--                            <input type="checkbox" class="checkbox" id="shipping-save-in-address-book" data-bind="checked: saveInAddressBook" />-->
<!--                            <label class="label" for="shipping-save-in-address-book">-->
<!--                                <span data-bind="i18n: 'Save in address book'"></span>-->
<!--                            </label>-->
<!--                        </div>-->
                        <!-- /ko -->
                    </div>
                </li>

            </ul>
        </li>
    </ul>
</form>
