<?php
/**
 * @var $block \Commercers\MultiOrderCheckout\Block\Checkout\Steps\DefaultShippingMethod
 */
$methods = $block->getShippingMethods();
?>
<div id="step-default-shipping-method">
    <div data-bind="scope: 'step-default-shipping-method'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "step-default-shipping-method": {
                        "component": "Commercers_MultiOrderCheckout/js/checkout/steps/default-shipping-method",
                        "template": "Commercers_MultiOrderCheckout/checkout/steps/default-shipping-method",
                        "methods": <?= json_encode($methods); ?>,
                        "form": "#shipping-method",
                        "next_url": "<?= $block->getUrl('multiorder/checkout_steps/defaultshippingmethod'); ?>"
                    }
                }
            }
        }
    }
</script>
