<?php
/**
 * @var $block \Commercers\MultiOrderCheckout\Block\Checkout\Steps\EgfraDivision
 */
$optionsEgfraDivision = $block->getEgfraDivision();
?>
<div id="egfra-division" style="padding-bottom: 10px;">
    <label class="label" style="text-transform: uppercase;font-weight: 600;">
        <span><?= __("Egfra Division") ?></span>
    </label>
    <div data-bind="scope: 'field-egfra-division'" style="padding-top: 5px;">
        <div data-bind="fadeVisible: isVisible()">
            <select name="egfra-division" id="egfra-division">
        <?php
        if(count($optionsEgfraDivision) > 1){
            ?>
            <option data-title="<?= __("Please select") ?>" value="0"><?= __("Please select") ?></option>
            <?php
        }
        ?>
        <?php
        foreach ($optionsEgfraDivision as $option){
        ?>
            <option value="<?= $option["optionValue"]?>"><?= $option["optionLabel"] ?></option>
        <?php
         }
        ?>
        </select>
        </div>
    </div>
    <?php
        if(count($optionsEgfraDivision) > 1){
?>
            <div class="field-note" style="font-size: 16px;display: block;margin-top: 10px;color: #ff0000;">
                <span><?= __("Please select a division to continue check-out.") ?></span>
            </div>
    <?php
        }
    ?>
</div>
<?php $data = [] ?>
<script type="text/x-magento-init">
    {
        "*": {
            "Commercers_MultiOrderCheckout/js/checkout/steps/egfra-division":<?= json_encode($data);?>
        }
    }
</script>