<?php
/**
 * @var $block \Commercers\MultiOrderCheckout\Block\Checkout\Steps\ShippingAddresses
 */
$countries = json_encode($block->getCountries());
?>
<div id="step-shipping-addresses">
	<div data-bind="scope: 'step-shipping-addresses'">
		<!-- ko template: getTemplate() --><!-- /ko -->
	</div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "step-shipping-addresses": {
                        "component": "Commercers_MultiOrderCheckout/js/checkout/steps/shipping-addresses",
                        "template": "Commercers_MultiOrderCheckout/checkout/steps/shipping-addresses",
                        "countries": <?= $countries; ?>
                    }
                }
            }
        }
    }
</script>
