.table-supervisors{
    .col-supervisor_id{
        display: none;
    }
}

.adminhtml-auth-login .login-header{
    margin-left: -81px;
}

.adminhtml-auth-login .login-header .logo .logo-img{
    width: 450px;
}
