<div class="price-mode">
    <span class="icon-mode links-icon"><?= __('Hide Price?'); ?></span>
    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
</div>
<script type="text/javascript">
    require ([
        'jquery','js/cookie/jquery.cookie'
    ], function ($) {
        $(document).ready(function(){
            if ($.cookie('pricemode') != "yes") {
                $("body").attr("data-mode", "hidden-price");
                $('.price-mode input[type="checkbox"]').attr('checked', true);
            }
            $('.price-mode input[type="checkbox"]').click(function(){
                if($(this).is(':checked')){
                    updateHidePrice(1);
                    $.cookie('pricemode', null,  {path: '/'});
                    $("body").attr("data-mode", "hidden-price");
                }
                else{
                    $.cookie('pricemode','yes', {expires: 99999, path: '/'});
                    $("body").attr("data-mode", "show-price");
                    updateHidePrice(0);
                }
            });
            function updateHidePrice(value){
                $.ajax({
                    url: '<?= $block->getUrl('hideprice/index/index');?>',
                    dataType: 'json',
                    type : 'post',
                    data: { hide_price: value},
                    success: function(response){
                        if(response.is_error) {
                            
                        }
                    }
                });
            }
        });
    });
</script>