.checkout-index-index{
    #co-payment-form{
        .fieldset{
            .payment-option.discount-code{
                display: none;
            }
        }
    }
    #checkout-step-shipping{
        #co-shipping-form{
            ul,li {
                list-style-type:none;
                padding-left: 0;
            }
            label{
                text-transform: uppercase;
                font-weight: 600;
            }
            fieldset{
                border: none;
                padding: 0;
            }
            .shippingaddresses-wrap{
                padding-left: 0;
                li{
                    display: flex;
                    justify-content: space-between;
                }
            }
            .filteraddresses-button{
                .submit-filter-address{
                    background: #023466;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 9px 18px;
                    text-align: center;
                    vertical-align: middle;
                    overflow: hidden;
                    position: relative;
                    line-height: 20px;
                }
            }
            .validation-advice{
                background: red;
                padding: 5px 10px;
                margin: 10px 0;
                font-size: 16px;
                color: #fff;
                &:before{
                    content: '\f057';
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    padding-right: 5px;
                }
            }
            #shipping-address-select{
                height: 100px;
            }
            #shipping-new-address-parent-form{
                display: none;
                #shipping-new-address{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    li.fields{
                        width: 50%;
                        .field-shipping-account{
                            padding-right: 5px;
                        }
                    }

                    li.fields-form{
                        width: 100%;
                        #shipping-new-address-form{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            width: 100%;
                            .message-save-contact{
                                opacity: 0;
                                width: 75%;
                                padding-right: 40px;
                                .text-message{
                                    background: #E6EFE5;
                                    padding: 5px 10px;
                                    margin: 10px 0;
                                    font-size: 16px;
                                    color: #006300;
                                    &::before{
                                        content: "\f058";
                                        font-weight: 900;
                                        font-family: "Font Awesome 5 Free";
                                        -moz-osx-font-smoothing: grayscale;
                                        -webkit-font-smoothing: antialiased;
                                        display: inline-block;
                                        font-style: normal;
                                        font-variant: normal;
                                        text-rendering: auto;
                                        line-height: 1;
                                        padding-right: 5px;
                                    }
                                }
                            }
                            .field-shipping-email{
                                padding-right: 5px;
                            }
                            .field{
                                width: 50%;
                                &:nth-child(2n) {
                                   padding-right: 5px;
                                }
                            }
                            .field[name="shippingAddress.street.0"]{
                                width: 100%;
                            }
                            .field[name="shippingAddress.shipping_address_select_alt2"]{
                                order: 1;
                            }
                            .field[name="shippingAddress.commercers_account_number"]{
                                order: 2;
                                input[name="commercers_account_number"]{
                                    opacity: 1 !important;
                                }
                            }
                            .field[name="shippingAddress.firstname"]{
                                order: 3;
                            }
                            .field[name="shippingAddress.lastname"]{
                                order: 4;
                            }
                            .field[name="shippingAddress.telephone"]{
                                order: 5;
                            }
                            .field[name="shippingAddress.shipping_email"]{
                                order: 6;
                            }
                            .field.field-btn-contact{
                                order: 7;
                            }
                            .field[name="shippingAddress.company"]{
                                order: 8;
                            }
                            .field.street{
                                order: 9;
                            }
                            .field[name="shippingAddress.postcode"]{
                                order: 10;
                            }
                            .field[name="shippingAddress.city"]{
                                order: 11;
                            }
                            .field[name="shippingAddress.country_id"]{
                                order: 12;
                            }

                            .field.choice.save-address{
                                order: 13;
                            }
                            .field-btn-contact{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                            }
                            .field.choice.save-address{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .field[name="shippingAddress.custom_attributes.egfra_division"]{
            padding-bottom: 5px;
        }
    }
    #checkoutSteps{
        #loading-mask{
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
        }
        .customer-attribute-message{
            font-size: 16px;
            display: block;
            margin-top: 20px;
            color: #ff0000;
        }
        .field[name="shippingAddress.custom_attributes.egfra_division"]{
            label{
                span{
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
            .control{
                padding-top: 5px;
                .select[name="custom_attributes[egfra_division]"]{
                    width: 50%;
                }
                .field-note{
                    font-size: 16px;
                    display: block;
                    margin-top: 20px;
                    color: #ff0000;
                }
            }
        }

        #shipping-method-buttons-container{
            //.primary{
            //    cursor: not-allowed;
            //}
        }
        #submit-filter-address{
            cursor: not-allowed;
            width: 80px;
        }

    }
    #checkout-payment-method-load{
        .items.payment-methods{
            .payment-group{
                .step-title{
                    display: none;
                }
                .payment-method{
                    .payment-method-title{
                        display: none;
                    }
                    .payment-method-content{
                        .messages{
                            display: none;
                        }
                        .payment-method-billing-address{
                            display: none;
                        }
                        .checkout-agreements-block{
                            display: none;
                        }
                    }
                }
            }
        }

    }
}
