.checkout-index-index {
  .payment-method.klarna-payments-method {
    .payment-method-title {
      .klarna-payments-method-cell {
        .radio{
          width: 17px;
          height: 17px;
        }
        &.label {
          padding-left: 0;
          &::before {
            content: none;
          }
          img {
            padding-right: 2rem;
          }
        }
      }

    }
  }
}