<?php
$items = $this->getItems();
$supervisorName = $this->getSupervisorName();
?>
<!--<h1>Guten Tag, --><?php //$items[0]['approval_name'] ?><!--</h1>-->
<!--<p>Diese Bestellung benötigt Ihre Freigabe, um weiterverarbeitet zu werden. Erteilen Sie auch nur einem Artikel keine Freigabe, wird der gesamte Auftrag storniert.</p>-->
<?php
if (count($items)): ?>
    <table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
        <tbody>
        <?php
        $approvalCode = array();
        $orderId = null;
        $email = null;
?>
        <tr>
            <th><?= __("Product name") ?></th>
            <th><?= __("Quantity") ?></th>
            <th colspan="2"><?= __("Action") ?></th>
        </tr>
<?php    
        foreach ($items as $item):
            $orderId = $item['order_id'];
//        Need Check item in order has approval or hasn't
                $approvalCode[] = $item['approval_code'];
            ?>
            <tr>
                <?php
                    if($item['order_approval_rule'] != 0){
                        if($item['order_approval_rule'] && $item['order_approval_rule'] == $item['approval_rule_id']){
                ?>
                        <td  align="left" valign="top" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                            <?php
                            $name = $item['order_item_name'];
                            ?>
                            <strong style="font-size:11px;"><?= __("%1",$name) ?></strong>
                        </td>
                        <td><?= $this->getQtyItemOrder($item['order_id'],$$item['order_item_id']) ?></td>
                        <td>
                            <a href="<?php echo $item['approve_link'] ?>"><?= __("Approve");?></a>
                        </td>
                        <td>
                            <a href="<?php echo $item['disapprove_link'] ?>"><?= __("Disapprove");?></a>
                        </td>
                <?php
                        }
                    }
                ?>
            </tr>
        <?php endforeach;?>
        <tr>
            <?php if (count($items) > 1):
                $approvalCodeStr = base64_encode(serialize($approvalCode));
                $url = $this->getUrlApproval('orderapproval/index/approveall',
                [
                    'order_id' => $orderId,
                    'supervisor_name' => $supervisorName,
                    'approval_code' => $approvalCodeStr
                ]);
                ?>
                <td colspan="3" align="left" valign="b" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                    <?= __("Click")?>
                    <a href="<?= $url ?>"><?= __("here")?></a>
                     <?= __("to approve all items") ?>
                </td>
            <?php endif;?>
        </tr>
        <tr>
            <?php if (count($items) > 1):
                $approvalCodeStr = base64_encode(serialize($approvalCode));
                $url = $this->getUrlApproval('orderapproval/index/disapproveall',
                    [
                        'order_id' => $orderId,
                        'supervisor_name' => $supervisorName,
                        'approval_code' => $approvalCodeStr
                    ]);
                ?>
                <td colspan="3" align="left" valign="b" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                    <?= __("Click")?>
                    <a href="<?= $url ?>"><?= __("here")?></a>
                    <?= __("to disapprove all items") ?>
                </td>
            <?php endif;?>
        </tr>
        </tbody>
    </table>
<?php endif;?>
