
<?php
$item = $this->getItem();
$supervisorName = $this->getSupervisorName();
?>
<table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
    <tbody>
    <?php
    $approvalCode = array();
    $orderId = null;
    $email = null;
        $orderId = $item['order_id'];
//        Need Check item in order has approval or hasn't
        $approvalCode[] = $item['approval_code'];
        ?>
        <tr>
            <th><?= __("Product name") ?></th>
            <th><?= __("Quantity") ?></th>
            <th colspan="2"><?= __("Action") ?></th>
        </tr>
        <tr>
                    <td  align="left" valign="top" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                        <?php
                        $name = '';
                        if(isset($item['order_item_name'])){
                            $name = $item['order_item_name'];
                        }
                        ?>
                        <strong style="font-size:11px;"><?= __("%1",$name) ?></strong>
                    </td>
                    <td><?= $this->getQtyItemOrder($item['order_id'],$$item['order_item_id']) ?></td>
                    <td>
                        <a href="<?php echo $item['approve_link'] ?>"><?= __("Approve");?></a>
                    </td>
                    <td>
                        <a href="<?php echo $item['disapprove_link'] ?>"><?= __("Disapprove");?></a>
                    </td>
        </tr>
    <tr>
        <?php
            $approvalCodeStr = base64_encode(serialize($approvalCode));
            $url = $this->getUrlApproval('orderapproval/index/approveall',
                [
                    'order_id' => $orderId,
                    'approval_code' => $approvalCodeStr,
                    'supervisor_name' => $supervisorName
                ]);
            ?>
            <td colspan="3" align="left" valign="b" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                <?= __("Click")?>
                <a href="<?= $url ?>"><?= __("here")?></a>
                <?= __("to approve all items") ?>
            </td>
    </tr>
    <tr>
        <?php
            $approvalCodeStr = base64_encode(serialize($approvalCode));
            $url = $this->getUrlApproval('orderapproval/index/disapproveall',
                [
                    'order_id' => $orderId,
                    'approval_code' => $approvalCodeStr,
                    'supervisor_name' => $supervisorName
                ]);
            ?>
            <td colspan="3" align="left" valign="b" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                <?= __("Click")?>
                <a href="<?= $url ?>"><?= __("here")?></a>
                <?= __("to disapprove all items") ?>
            </td>
    </tr>
    </tbody>
</table>
