<h1><?= __("Order Approval");?></h1>
<?php
$approval = $this->getDataApproval();
$orderApproves = $this->getDataApproves();
$orderDisapproves = $this->getDataDisapproves();
$result = $this->getParams();
?>
<!-- Approval -->
<?php
if(!empty($result['approved']) && $result['approved'] == 1){
    $oderItem = $this->_orderItem->load($approval["order_item_id"]);
    $order = $this->_order->load($approval["order_id"]);
    ?>
    <p> <?= __("You have approved the item %1 for order %2", $oderItem->getName(), $order->getIncrementId() );?> </p>
    <?php
}
?>
<?php
if(!empty($result['approved']) && $result['approved'] == 2){
    $oderItem = $this->_orderItem->load($approval["order_item_id"]);
    $order = $this->_order->load($approval["order_id"]);
    ?>
    <p> <?= __("The item  %1 for order %2 has been approved or disapproved", $oderItem->getName(), $order->getIncrementId() );?> </p>
    <?php
}
?>
<?php
if(!empty($result['approved']) && $result['approved'] == 3){
    $oderItem = $this->_orderItem->load($approval["order_item_id"]);
    $order = $this->_order->load($approval["order_id"]);
    ?>
    <p> <?= __("One of items of order %1 has been disapproved", $order->getIncrementId() );?> </p>
    <?php
}
?>
<?php
if(!empty($result['approved']) && $result['approved'] == 4){
    ?>
    <p><?= __("We can not find the order item what match the your request.");?></p>
    <?php
}
?>
<?php
if(!empty($result['approved']) && $result['approved'] == 6){
    ?>
    <p><?= __("We have cancel order");?></p>
    <?php
}
?>
<?php
if(!empty($result['disapproved']) && $result['disapproved'] == 1){
    $oderItem = $this->_orderItem->load($approval["order_item_id"]);
    $order = $this->_order->load($approval["order_id"]);
    ?>
    <p> <?= __("You have disapproved the item %1 for order %2", $oderItem->getName(), $order->getIncrementId() );?> </p>
    <?php
}
?>
<?php
if(!empty($result['disapproved']) && $result['disapproved'] == 2){
    $oderItem = $this->_orderItem->load($approval["order_item_id"]);
    $order = $this->_order->load($approval["order_id"]);
    ?>
    <p> <?= __("The item  %1 for order %2 has been disapproved or approved.", $oderItem->getName(), $order->getIncrementId() );?> </p>
    <?php
}
?>
<!-- Approvals -->
<?php
if(!empty($result['approve_all']) && $result['approve_all'] == 1){
    foreach ($orderApproves as $orderApprove){
        $oderItem = $this->_orderItem->load($orderApprove["order_item_id"]);
        $order = $this->_order->load($orderApprove["order_id"]);
        ?>
        <p> <?= __("You have approved the item %1 for order %2", $oderItem->getName(), $order->getIncrementId() );?> </p>
        <?php
    }
}
?>
<!-- Disapproval all items -->
<?php
if(!empty($result['approve_all']) && $result['approve_all'] == 6){
    foreach ($orderDisapproves as $orderDisapprove){
        $oderItem = $this->_orderItem->load($orderDisapprove["order_item_id"]);
        $order = $this->_order->load($orderDisapprove["order_id"]);
        ?>
        <p> <?= __("You have disapproved the item %1 for order %2", $oderItem->getName(), $order->getIncrementId() );?> </p>
        <?php
    }
}
?>
<?php
if(!empty($result['approve_all']) && $result['approve_all'] == 5){
    foreach ($orderDisapproves as $orderDisapprove){
        $oderItem = $this->_orderItem->load($orderDisapprove["order_item_id"]);
        $order = $this->_order->load($orderDisapprove["order_id"]);
        ?>
        <p> <?= __("You have disapproved the item %1 for order %2", $oderItem->getName(), $order->getIncrementId() );?> </p>
        <?php
    }
}
?>
<?php
if(!empty($result['approve_all']) && $result['approve_all'] == 4){
    ?>
    <p><?= __("We can not find the order item what match the your request.");?></p>
    <?php
}
?>
<?php
if(!empty($result['approve_all']) && $result['approve_all'] == 2){
    ?>
    <p><?= __("We can not find the order item what match the your request.");?></p>
    <?php
}
?>
<?php
if(!empty($result['approve_all']) && $result['approve_all'] == 3){
    ?>
    <p><?= __("We can not find the order item what match the your request.");?></p>
    <?php
}
?>
