<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_ProductAttachment
 */
?>
<?php
/** @var \Amasty\ProductAttachment\Block\Adminhtml\Steps $block */
?>
<div class="steps-wizard amfile-steps-wizard">
    <div data-role="steps-wizard-controls" class="steps-wizard-navigation">
        <ul class="nav-bar">
            <?php foreach ($block->getSteps() as $step => $caption): ?>
                <li data-role="collapsible"
                    data-bind="css: { 'active': <?= ($step === $block->getCurrentStep() ? 'true' : 'false') ?>}">
                    <a href="#">
                        <?= $block->escapeHtml(__($caption)) ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
        <div class="nav-bar-outer-actions">
                <div class="action-wrap" data-role="closeBtn">
                    <button type="button"
                            class="action-cancel action-tertiary"
                            onclick="location.href = '<?= $block->escapeUrl($block->getImportListingUrl()) ?>'">
                        <span><?= $block->escapeHtml(__('Cancel')) ?></span>
                    </button>
                </div>
            <div class="action-wrap action-wrap-prev" data-role="step-wizard-prev">
                <button type="button"
                        class="action-default action-back-step"
                        <?= ($block->getBackLink() ? '' : 'disabled="true"') ?>
                        <?php if ($block->getBackLink()): ?>
                            onclick="location.href='<?= $block->escapeUrl($block->getBackLink()) ?>'"
                        <?php endif; ?>>
                    <span><?= $block->escapeHtml(__('Back')); ?></span>
                </button>
            </div>
            <div class="action-wrap action-wrap-next" data-role="step-wizard-next">
                <button type="button"
                        class="action-default action-primary action-next-step save"
                        id="save"
                        data-ui-id="save-button"
                        <?= ($block->getNextLink() ? '' : 'disabled="true"') ?>
                        <?php if ($block->getNextLink()): ?>
                            onclick="location.href='<?= $block->escapeUrl($block->getNextLink()) ?>'"
                        <?php endif; ?>>
                    <span><?= $block->escapeHtml(__('Next')); ?></span>
                </button>
            </div>
        </div>
    </div>
    </div>
