<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_ProductAttachment
 */
?>
<?php
/**
 * @var \Amasty\ProductAttachment\Block\Order\Email\Attachments $block
 */
?>
<?php if ($attachments = $block->getAttachments()): ?>
        <br><b><?= $block->escapeHtml($block->getBlockTitle()); ?></b>
        <?php foreach ($attachments as $attachment): ?>
            <p>
                <a href="<?= $block->escapeUrl($attachment->getFrontendUrl()); ?>" target="_blank">
                    <?= $block->escapeHtml($attachment->getLabel()); ?>
                </a>
            </p>
        <?php endforeach; ?>
<?php endif; ?>
