<div class="step-title"><span>1</span><span data-bind="i18n: 'Default Shipping Method'"></span></div>
<div class="step-content no-display" data-bind="fadeVisible: isVisible()">
    <div class="step-fields">
        <div class="shipping-method-desc" data-bind="i18n: 'Choose a shipping method that applies to all addresses:'"></div>
        <form id="shipping-method">
            <select class="shipping-methods" name="shipping_method" id="default-shipping-method" data-bind="foreach: methods">
                <option data-bind="text: (method_title)? method_title + ' - ' + price_formatted: carrier_title + ' - ' +price_formatted,attr: {value: carrier + '_' + method}"></option>
            </select>
        </form>
    </div>
    <div class="step-actions">
        <button class="action primary" data-bind="click: next, i18n: 'Next'"></button>
    </div>
</div>
