<div class="step-title"><span>2</span><span data-bind="i18n: 'Shipping Addresses'"></span></div>
<div class="step-content no-display" data-bind="fadeVisible: isVisible()">
    <div class="step-fields" id="step-fields">
        <ul class="form-list">
            <li>
                <label for="shipping-address-select" data-bind="i18n: 'Please select a customer shipping address'"></label>
            </li>
            <li>
                <div class="fieldset">
                    <ul class="shippingaddresses-wrap">
                        <li>
                            <div class="shippingaddresses-filter">
                                <label for="customer-number" data-bind="i18n: 'Account Number'"></label>
                                <div class="input-box shippingaddresses-filter-box">
                                    <input type=text  class="input-text shippingaddresses-filter"
                                           id="customer-number" data-bind="event: {keyup: submitFilterAddress}" />
                                </div>
                            </div>
                            <div class="shippingaddresses-filter">
                                <label for="customer-name" data-bind="i18n: 'Customer Name'"></label>
                                <div class="input-box shippingaddresses-filter-box">
                                    <input type=text  class="input-text shippingaddresses-filter"
                                           id="customer-name" data-bind="event: {keyup: submitFilterAddress}" />
                                </div>
                            </div>
                            <div class="shippingaddresses-filter">
                                <label for="customer-city" data-bind="i18n: 'City'"></label>
                                <div class="input-box shippingaddresses-filter-box">
                                    <input type=text class="input-text shippingaddresses-filter"
                                           id="customer-city" data-bind="event: {keyup: submitFilterAddress}" />
                                </div>
                            </div>
                            <div class="shippingaddresses-filter">
                                <label for="customer-postal-code" data-bind="i18n: 'Postal Code'"></label>
                                <div class="input-box shippingaddresses-filter-box">
                                    <input type=text class="input-text shippingaddresses-filter"
                                           id="customer-postal-code" data-bind="event: {keyup: submitFilterAddress}" />
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="filteraddresses-button">
                        <li>
                            <button type="button" class="button submit-filter-address" data-bind="click: searchFilterAddresses" disabled>
                                <span data-bind="i18n: 'Suche'"></span>
                            </button>
                            <button class="button action primary" data-bind="click: loadAddressList, i18n: 'Load address list'"></button>
                            <div class="validation-advice no-display" id="sa-notfound" data-bind="i18n: 'No results found. Please change the search string.'"></div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="input-box" id="shipping-address-container">
                                <select name="commercers_shipping_address_id" id="shipping-address-select" class="address-select address-multiple" title="" size="5" multiple></select>
                            </div>
                        </li>
                    </ul>
                    <div class="address-add-button">
                        <button class="button action primary" data-bind="click: addAddressToList, i18n: 'Add Address'"></button>
                    </div>
                    <div class="address-chosen-list">
                        <!-- ko if: chosenAddresses().length > 0 -->
                        <label data-bind="i18n: 'Chosen Addresses'"></label>
                        <ul data-bind="foreach: chosenAddresses">
                            <li>
                                <span data-bind="text: $parent.shippingAddresses()[address_id()]"></span>
                                <a href="#" data-bind="click: $parent.removeChosenAddress.bind($parent),i18n: 'Remove '"></a>
                                <a href="#" data-bind="click: $parent.editChosenAddress.bind($parent), i18n: 'Edit '"></a>
                                <!-- ko if: !isValid() -->
                                <p class="error-message" data-bind="i18n: 'Fill required fields'"></p>
                                <!-- /ko -->
                            </li>
                        </ul>
                        <!-- /ko -->
                    </div>
                </div>
            </li>
            <li id="shipping-new-address-parent-form" data-bind="fadeVisible: isFormVisible(), attr: {'data-address-id': addressIdFormEditing() }">
                <ul id="shipping-new-address">
                    <li class="fields-form">
                        <form action="" id="shipping-address-form" >
                            <div id="shipping-new-address-form" class="fieldset address">
                                <div class="field">
                                    <label class="label" for="shipping_address_select_alt2"><span data-bind="i18n: 'Choose a contact'"></span></label>
                                    <div class="control">
                                        <select class="select" name="shipping_address_select_alt2" id="shipping_address_select_alt2"></select>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="commercers_account_number"><span data-bind="i18n: 'Account Number'"></span></label>
                                    <div class="control">
                                        <input class="input-text" type="text" name="commercers_account_number" id="commercers_account_number" disabled="disabled">
                                    </div>
                                </div>
                                <div class="field required">
                                    <label class="label" for="firstname"><span data-bind="i18n: 'First Name '"></span></label>
                                    <div class="control">
                                        <input class="input-text required-entry" type="text" name="firstname" id="firstname" />
                                    </div>
                                </div>
                                <div class="field required">
                                    <label class="label" for="lastname"><span data-bind="i18n: 'Last Name '"></span></label>
                                    <div class="control">
                                        <input class="input-text required-entry" type="text" name="lastname" id="lastname" />
                                    </div>
                                </div>
                                <div class="field required">
                                    <label class="label" for="telephone"><span data-bind="i18n: 'Telephone'"></span></label>
                                    <div class="control">
                                        <input class="input-text required-entry" type="text" name="telephone" id="telephone" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="shipping_email"><span data-bind="i18n: 'Email address'"></span></label>
                                    <div class="control">
                                        <input class="input-text" type="text" name="shipping_email" id="shipping_email" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="company"><span data-bind="i18n: 'Company'"></span></label>
                                    <div class="control">
                                        <input class="input-text" type="text" name="company" id="company" />
                                    </div>
                                </div>
                                <div class="field required">
                                    <label class="label" for="street"><span data-bind="i18n: 'Street'"></span></label>
                                    <div class="control">
                                        <input class="input-text required-entry" type="text" name="street" id="street" />
                                    </div>
                                </div>
                                <div class="field required">
                                    <label class="label" for="postcode"><span data-bind="i18n: 'Postcode'"></span></label>
                                    <div class="control">
                                        <input class="input-text required-entry" type="text" name="postcode" id="postcode" />
                                    </div>
                                </div>
                                <div class="field required">
                                    <label class="label" for="city"><span data-bind="i18n: 'City'"></span></label>
                                    <div class="control">
                                        <input class="input-text required-entry" type="text" name="city" id="city" />
                                    </div>
                                </div>
                                <div class="field required">
                                    <label class="label" for="country_id"><span data-bind="i18n: 'Country'"></span></label>
                                    <div class="control">
                                        <select class="select required-entry" data-bind="options: countries, optionsValue: 'optionValue', optionsText: 'optionLabel'" name="country_id" id="country_id"></select>
                                    </div>
                                </div>
                            </div>
                            <div id="shipping-address-method">
                                <p class="shipping-method-title" data-bind="i18n: 'Shipping Methods'"></p>
                                <select class="shipping-methods" name="address_shipping_method" data-bind="foreach: methods">
                                    <optgroup data-bind="attr: {label: carrier_title} ">
                                        <option data-bind="text: (method_title)? method_title + ' - ' + price_formatted: carrier_title + ' - ' +price_formatted,attr: {value: carrier + '_' + method, selected: carrier + '_' + method == $parent.getCurrentAddressShippingMethods($parent.addressIdFormEditing()) ? 'selected' : null}"></option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="address-actions">
                                <button class="action primary" data-bind="click: updateChosenAddress, i18n: 'Update Address'"></button>
                            </div>
                        </form>
                    </li>

                </ul>
            </li>
        </ul>
        <div data-role="messages" class="messages"></div>
    </div>
    <div class="step-actions">
        <!-- ko if: chosenAddresses().length > 0 && isCheckoutAvailable() -->
        <button class="button action primary" data-bind="click: saveAddressList, i18n: 'Save address list'"></button>
        <!-- /ko -->
        <!-- ko if: isCheckoutAvailable() -->
        <button class="action primary" data-bind="click: placeOrder, i18n: 'Place Order'"></button>
        <!-- /ko -->
    </div>
</div>