<!-- <?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>
<?php if($customerSession->isLoggedIn()):?>
    <div class="mode-price-wrap">
        <span class="icon-mode">test</span>
    </div>
<?php endif; ?>
<script type="text/javascript">
    require ([
        'jquery','js/cookie/jquery.cookie'
    ], function ($) {
        $(document).ready(function () {
            if ($.cookie('hideprice') == "yes") {
                $(".icon-mode").addClass("hide-price");
                $("body").attr("data-mode", "hide");
            }
            $(".mode-price-wrap").click(function () {
                if ($.cookie('hideprice') == "undefined" || $.cookie('hideprice') == "no") {
                    $.cookie('hideprice','yes', {expires: 7, path: '/'});
                    $("body").attr("data-mode", "hide");
                    $(".icon-mode").addClass("hide-price");
                }
                else {
                    $.cookie('hideprice','no',  {expires: 7, path: '/'});
                    $("body").attr("data-mode", "show");
                    $(".icon-mode").removeClass("hide-price");
                }
            });
        });
    });
</script> -->