.copyright{
    background-color: #f4f4f4;
    text-align: right;
    padding-right: 15%;
    color: #333;
}
.page-footer{
    padding-bottom: 0 !important;
}
.footer.links{
    display: flex !important;
}
.footer.links li{
    padding-right: 50px !important;
}
.footer.content{
    float: right;
    padding-right: 10% !important;
}
/*.sections.nav-sections, .navigation {*/
/*    background-color: #003247 !important;*/
/*}*/
/*.navigation{*/
/*    text-align: center;*/
/*}*/
/*.level-top.ui-corner-all {*/
/*    font: 16px/16px 'Gesta-Medium',Arial,sans serif;*/
/*    text-decoration: none;*/
/*    color: #bec3c8 !important;*/
/*    text-transform: uppercase;*/
/*}*/
/*.level-top.ui-corner-all :hover{*/
/*    color: #fff !important;*/
/*}*/
.logo img{.slide-product .owl-stage-outer
    width: 265px;
    height: 95px;
}
.logo{
    margin-left: 38% !important;
}
/*.checkout-index-index .payment-option._collapsible.opc-payment-additional.discount-code*/
/*{*/
/*    display: none;*/
/*}*/
/*.sparsh_banner{*/
/*    margin-top:20px;*/
/*}*/
/*.widget-new-grid .product-item-name{*/
/*    margin-bottom: 15px;*/
/*}*/
/*.widget-new-grid .owl-item.active{*/
/*    width: 234px;*/
/*}*/
/*.home-slider{*/
/*    display: flex;*/
/*}*/
/*.new-product-grid .owl-stage-outer .product-item{*/
/*    width: 100% !important;*/
/*}*/


.level0.active{
    background-image: url("../images/bg_li_a_active.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #fff;
}
.level0.active > .level-top{
    border-style: hidden !important;
}
.footer.links a{
    font-weight: bolder;
}
/*.owl-carousel .owl-stage-outer{*/
/*    margin-left: 45px;*/
/*    margin-top: 20px;*/
/*}*/
/*.slide-product .owl-stage-outer*/
/*{*/
/*    padding-left: 30px;*/
/*    !*margin-left: 0px;*!*/
/*}*/
.product-item-info{
    /*margin-left: 12%;*/
    text-align: center;
}
.page-wrapper .page-title-wrapper{
    /*margin-left: 45px;*/
    margin-bottom: 35px;
}
.page-wrapper .page-title{
    margin-bottom: 0;
}
.home-slider.banner .owl-dots{
    /*margin-left: 45px;*/
    top: calc(85%);
    position: absolute;
    left: 44%;
}
.block-search{
    padding-left:0 !important;
    width: 25% !important;
}
.product-item-name{
    min-height: 60px;
}
.customer-account-login .page-wrapper .page-title-wrapper{
    margin-left: 0;
    float: left;
    margin-bottom: 15px;
}
.contact-index-index .columns, .cms-impressum .columns, .cms-datenschutzerklaerung .columns{
    margin-left: 45px;
}
.cms-index-index .nav-sections{
    margin-bottom: 15px !important;
}
.cms-home  .page-wrapper .page-title-wrapper{
    text-align: center;
}
.catalog-product-view .page-wrapper .page-title-wrapper{
    margin-left: 0;
    margin-bottom: 30px;
}
