<?php
   $importActions = $block->getTrackingImportValues();
?>
<table class="data-table admin__table-primary edit-import-table">


    <tr>
        <td>
            <?php echo __("Send email"); ?>
        </td>
        <td>
            <input type="checkbox" name="import_actions[send_email]"
            data-form-part="profilers_form" class="admin__control-input" 
            <?php 
                if(isset($importActions['send_email'])){
                    if((int)$importActions['send_email'] == 1){
                        echo "checked";
                    } 
                }
            ?>
            />
        </td>
    </tr>


</table>
