<?php
/**
 * $block Commercers\OrderApproval\Block\Adminhtml\Rule\Form;
 */
$options = array(
    ['valueActive' => '0','labelActive' => __("Deactive")],
    ['valueActive' => '1','labelActive' => __("Active")]
);

$urlGetCustomerData = $this->getBaseBackendUrl('orderapproval/rule/customers');
$getBaseMediaUrl = $this->getBaseMediaUrl();
$rule = $this->getOrderApprovalRule();

$ruleModel = '';
$ruleId = '';
$ruleName = '';
if($rule){
    $ruleId = $rule["order_approval_rule_id"];
    $ruleName = $rule["rule_name"];
    $supervisorsCollection = $this->getSuppervisorCollection($ruleId);
    $ruleModel = $this->getApprovalRule($ruleId);
}else{
    $supervisorsCollection = [];
}
?>
<form class="approval_rule_form" method="POST" id ="approval-rule-form" action="<?php echo $this->getBaseBackendUrl('orderapproval/rule/saverule').'order_approval_rule_id/'.$ruleId ?>">
    <?php echo $this->getBlockHtml('formkey')?>
    <div class="page-main-actions">
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="New Product">
                <div class="page-actions-buttons page-rule" style="padding-bottom: 2rem">
                    <div title="Save" class="actions-split save primary">
                        <button type="submit"
                                title="<?php /* @escapeNotVerified */ echo __('Save') ?>"
                                class="action submit primary">
                            <span><?php /* @escapeNotVerified */ echo __('Save') ?></span>
                        </button>
                    </div>
                    <a href="<?= $this->getBaseBackendUrl('orderapproval/rule/index')?>">
                        <button id="back" title="Back" type="button" class="action- scalable back">
                            <span>Back</span>
                        </button>
                    </a>
                </div>
        </div>
    </div>
    <input type="hidden" name="order_approval_rule_id" value="<?= $ruleId ?>">
    <div class="approval_rule" data-bind="scope: 'approvalAddItem'">
        <div class="general-inforation">
            <table class="admin__dynamic-rows admin__control-table rule-tree table-general">
                <thead>
                <tr>
                    <th class="_empty" style="background-color: #6F8992;color: #fff;"><?= __('General')?></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label for="rule_name"><?= __('Rule Name')?></label>
                        <input id="rule_name" required name="rule_name" value="<?= $ruleName ?>" class="input-text required-entry" style="width: 300px;margin-left: 50px;" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="active_general"> <?= __('Active')?></label>
                        <select style="width: 300px;margin-left: 81px;" name="active_general">
                            <?php
                                    if(isset($rule["active"])){
                            ?>
                                    <option  value="0" <?php if($rule["active"] == '0') echo 'selected="selected"';?> ><?= __('DeActive')?></option>
                                    <option value="1" <?php if($rule["active"] == '1') echo 'selected="selected"';?> ><?= __('Active')?></option>
                            <?php
                                }else{
                            ?>
                                    <option value="0"><?= __('DeActive')?></option>
                                    <option value="1"><?= __('Active')?></option>
                            <?php
                                }
                            ?>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="suppervisors-information" style="padding-top: 2rem">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
    </div>
</form>


<div id="loading-mask" style="display:none">
    <p class="loader" id="loading_mask_loader"><img src="<?= $getBaseMediaUrl.'commercers/orderapproval/ajax-loader-tr.gif' ?>" alt="Loading..."><br>Please wait...</p>
</div>
<script>
    window.urlGetCustomerData = "<?= $this->getBaseBackendUrl('orderapproval/rule/customers')?>";
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "approvalAddItem": {
                        "component": "Commercers_OrderApproval/js/rule/approval-add-item",
                        "template": "Commercers_OrderApproval/rule/approval_add_item",
                        "activeOptions" : <?= json_encode($options); ?>,
                        "supervisorsCollection": <?= json_encode($supervisorsCollection); ?>
                    }
                }
            }
        }
    }
</script>
