.orderapproval-index-supervisory{
  .div-notice{
    background: #fffbbb;
    border: none;
    border-radius: 0;
    color: #333333;
    font-size: 1.4rem;
    margin: 0 0 0 5px;
    padding: 10px 10px 5px 10px;
    position: relative;
    text-shadow: none;
    .text-notice{
      color: #333333;
      font-size: 1.4rem;
    }
  }
  #loading-mask{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
  }
  .table-supervisory-order-item{
    border: 1px solid #000;
    tr:nth-child(odd) {
      background-color: #d4d1c0;
    }
    th {
      padding-top: 6px;
      padding-bottom: 6px;
      text-align: left;
      background-color: #c3bba6;
      font-style: italic;
      font-weight: 500;
    }

    .status-item-order{
      display: flex;
      .btn-approve{
        padding-right: 5px;
        &.active{
          cursor: not-allowed;
          .btn-approve-submit{
            opacity: 1;
          }
        }
        .btn-approve-submit{
          color: #fff;
          background-color: #337ab7;
          border-color: #2e6da4;
        }
      }
      .btn-disapprove{
        &.active{
          cursor: not-allowed;
          .btn-disapprove-submit{
            opacity: 1;
          }
        }

        .btn-disapprove-submit{
          color: #fff;
          background-color: #d9534f;
          border-color: #d43f3a;
        }
      }
    }
  }
  #message-approval{
    position: relative;
    .text-message{
      margin: 0 0 10px;
      padding: 12px 20px 5px 25px;
      display: block;
      font-size: 14px;
      background: #e5efe5;
      color: #006400;
      padding-left: 45px;
      &::before{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 24px;
        line-height: 24px;
        color: #006400;
        content: '\e60e';
        font-family: 'luma-icons';
        margin: -12px 0 0;
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        left: 0;
        top: 22px;
        width: 45px;
        position: absolute;
        text-align: center;
      }
    }
  }
}
.customer-account-edit{
  .custom-form-change-password{
    .actions-toolbar{
      width: 0;
    }
  }
}
