<!--@subject {{trans 'Email Notification About Item Has Supervisor' }} @-->
<!--@vars
{
"var shippingDescription|raw":"Shipping Description",
"var formattedBillingAddress|raw":"Billing Address",
"var order.getUmOrderComment()":"Email Order Note",
"var formattedShippingAddress|raw":"Shipping Address",
"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html|raw":"Payment Details",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note",
"var shipping_msg":"Shipping message"
}
@-->
<!--@styles
body,td { background: #fff !important;color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header_template"}}

<body>
<h1>Guten Tag, {{var buyer_name}}</h1>
<p></p>

<tr class="email-summary">
    <td>
<!--        <h1>{{trans 'Your Order <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}} {{trans '<span class="no-link">%status_item</span> by' status_item=$status_item |raw}} {{var approval_name}} for item {{var order_item_name}}</h1>-->
<!--        <h1>{{if is_approved}}{{trans 'The item <span class="no-link">%order_item_name</span>' order_item_name=$order_item_name |raw}} {{trans 'in your order <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}} {{trans 'was approved by <span class="no-link">%approval_name</span>' approval_name=$approval_name |raw}}{{else}}{{trans 'The item <span class="no-link">%order_item_name</span>' order_item_name=$order_item_name |raw}} {{trans 'in your order <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}} {{trans 'has not been approved by <span class="no-link">%approval_name</span>' approval_name=$approval_name |raw}}{{/if}}</h1>-->
        <h1>{{if is_approved}}{{trans "The item"}} {{var order_item_name}} {{trans "in your order"}} #{{var order.increment_id}} {{trans "was approved by"}} {{var supervisor_name}} {{trans "approved"}}{{else}}{{trans "The item"}} {{var order_item_name}} {{trans "in your order"}} #{{var order.increment_id}} {{trans 'has not been approved by <span class="no-link">%supervisor_name</span>' supervisor_name=$supervisor_name |raw}}{{/if}}</h1>
        <!--        {{trans 'The item <span class="no-link">%order_item_name</span>' order_item_name=$order_item_name |raw}} {{trans 'in your order <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}} {{trans 'was approved by <span class="no-link">%approval_name</span>' approval_name=$approval_name |raw}}-->
    </td>

</tr>
<tr class="email-information">
    <td>
        <table class="order-details">
            <tr>
                <td class="address-details">
                    <h3>{{trans "Billing Info"}}</h3>
                    <p>{{var formattedBillingAddress|raw}}</p>
                </td>
                <td class="address-details">
                    <h3>{{trans "Shipping Info"}}</h3>
                    <p>{{var formattedShippingAddress|raw}}</p>
                </td>
            </tr>
            <tr>
                <td class="method-info">
                    <h3>{{trans "Payment Method"}}</h3>
                    {{var payment_html|raw}}
                </td>
                <td class="method-info">
                    <h3>{{trans "Shipping Method"}}</h3>
                    <p>{{var shippingDescription}}</p>
                    {{if shipping_msg}}
                    <p>{{var shipping_msg}}</p>
                    {{/if}}
                </td>
            </tr>
        </table>
        <table class="email-banking">
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#EAEAEA" align="center" style="background:#fff; text-align:center;"><center><p style="font-size:12px; margin:0;">Vielen Dank für Ihr Vertrauen! <strong>{{var store.getFrontendName()}}</strong></p></center></td>
</tr>
</body>
{{template config_path="design/email/footer_template"}}

