<!--@subject {{if type_email}}{{trans "Order #% order increment_id is waiting for your approval - Supervisor" order_increment_id=$order.increment_id"}}{{else}}{{trans "Order #% order increment_id is waiting for your approval - Product" order_increment_id=$order.increment_id}}{{/if}} @-->
<!--@vars
{
"var shippingDescription|raw":"Shipping Description",
"var formattedBillingAddress|raw":"Billing Address",
"var order.getUmOrderComment()":"Email Order Note",
"var formattedShippingAddress|raw":"Shipping Address",
"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html|raw":"Payment Details",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note",
"var shipping_msg":"Shipping message"
}
@-->
<!--@styles
body,td { background: #fff !important;color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header_template"}}

<body>
<h1>Guten Tag, {{var supervisor_name}}</h1>
<p>Diese Bestellung benötigt Ihre Freigabe, um weiterverarbeitet zu werden.</p>

{{layout handle="email_reminder_supervisor_approve_item" item=$data supervisor_name=$supervisor_name}}

<tr class="email-summary">
    <td>
        <h1>{{trans 'Your Order <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}} ({{trans 'from <span class="no-link">%created_at</span>' created_at=$created_at_formatted |raw}})</h1>
    </td>
</tr>
<tr class="email-information">
    <td>
        <table class="order-details">
            <tr>
                <td class="address-details">
                    <h3>{{trans "Billing Info"}}</h3>
                    <p>{{var formattedBillingAddress|raw}}</p>
                </td>
                <td class="address-details">
                    <h3>{{trans "Shipping Info"}}</h3>
                    <p>{{var formattedShippingAddress|raw}}</p>
                </td>
            </tr>
            <tr>
                <td class="method-info">
                    <h3>{{trans "Payment Method"}}</h3>
                    {{var payment_html|raw}}
                </td>
                <td class="method-info">
                    <h3>{{trans "Shipping Method"}}</h3>
                    <p>{{var shippingDescription}}</p>
                    {{if shipping_msg}}
                    <p>{{var shipping_msg}}</p>
                    {{/if}}
                </td>
            </tr>
        </table>
        <table class="email-banking">
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#EAEAEA" align="center" style="background:#fff; text-align:center;"><center><p style="font-size:12px; margin:0;">Vielen Dank für Ihr Vertrauen! <strong>{{var store.getFrontendName()}}</strong></p></center></td>
</tr>
</body>
{{template config_path="design/email/footer_template"}}

