<div class="entry-edit admin__scope-old">
    <div class="input-ele" style="padding-top: 15px;">
        <button class="scalable save" type="submit" id="export_invoice_button">
            <a href="<?= $block->getUrl('*/*/export') ?>"><span><?php echo __('Export')?></span></button></a>
    </div>
<!--    <form id="export_invoice_form" name="export_invoice_form" method="post" action="--><?php //echo $block->getUrl('*/*/export')?><!--">-->
<!--        <input name="form_key" type="hidden" value="--><?php //echo $block->getFormKey() ?><!--"/>-->
<!--        <fieldset id="my-fieldset" class="fieldset admin__fieldset">-->
<!--            <legend class="legend">-->
<!--                <span>--><?php //echo __('Manual Export Invoice') ?><!--</span>-->
<!--            </legend>-->
<!--            <table cellspacing="0" class="form-list" width="42%">-->
<!--                <tr>-->
<!--                    <td class="label">&nbsp;</td>-->
<!--                    <td class="input-ele" style="padding-top: 15px;">-->
<!--                        <button class="scalable save" type="submit" id="export_invoice_button">-->
<!--                            <span>--><?php //echo __('Export')?><!--</span></button>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </fieldset>-->
<!--    </form>-->
</div>