/* Multi Order*/
& when (@media-common = true) {
  #multi-order-steps {
    max-width: 900px;
    border: 1px solid #ddd;
    padding: 40px 20px;
    border-top: 3px solid #1a79c3;
    .step-title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      span:first-child {
        background: #1a79c3;
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 100%;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-weight: bold;
      }
      span:last-child {
        margin-left: 10px;
        font-weight: bold;
        font-size: 16px;
      }
    }
    .step-content {
      margin-bottom: 20px;
      .step-actions {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        button:last-child {
          margin-left: 10px;
        }
      }
    }
  }
  #step-shipping-addresses {
    ul {
      list-style: none;
      padding: 0;
      .shippingaddresses-wrap {
        li {
          display: flex;
          margin: 0 -10px 10px;
          > .shippingaddresses-filter {
            width: 25%;
            padding: 0 10px;
          }
        }
      }
      #shipping-new-address-parent-form {
        #shipping-new-address-form {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -10px;
          > .field {
            width: 50%;
            padding: 0 10px;
            margin-bottom: 20px;
          }
        }
        #shipping-address-form {
          .address-actions {
            margin-top: 20px;
          }
        }
      }
      #shipping-address-container {
        #shipping-address-select {
          height: 100px;
        }
      }
    }
    .address-add-button {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
    .address-chosen-list {
      ul {
        padding: 20px !important;
        border: 1px solid #ddd;
        margin-top: 20px;
        li {
          a {
            float: right;
            margin-left: 5px;
          }
          .error-message {
            color: red;
            font-size: 11px;
          }
        }
      }
    }
  }
  .action.checkout.multiorder {
    margin-top: 20px;
    text-align: center;
  }
  .product-add-form {
    .checkout.multiorder {
      display: none;
    }
  }
}