<?php
/* @var $block Columns */

use Snmportal\Pdfprint\Block\Adminhtml\Template\Edit\Tab\Layout\Columns;

$element = $block->getElement();
?>
<?php $_jsName = $block->getJsName() ?>
<?php $_htmlId = $block->getElement()
                       ->getHtmlId() ?>
<?php $_htmlClass = $block->getElement()
                          ->getClass() ?>
<?php $_htmlName = $block->getElement()
                         ->getName() ?>
<?php $_readonly = $block->getElement()
                         ->getReadonly() ?>


<div class="field" id="attribute-<?php /* @escapeNotVerified */
echo $_htmlId ?>-container" data-attribute-code="<?php /* @escapeNotVerified */
echo $_htmlId ?>"
     data-apply-to="<?php echo $block->escapeHtml(
         $this->helper('Magento\Framework\Json\Helper\Data')
              ->jsonEncode(
                  $element->hasEntityAttribute() ? $element->getEntityAttribute()
                                                           ->getApplyTo() : []
              )
     ) ?>">
    <?php if ($block->getElement()
                    ->getLabel()) : ?>
    <label class="label"><span><?php /* @escapeNotVerified */
    echo $block->getElement()
               ->getLabel() ?></span></label>
    <?php endif; ?>
    <style>
        .admin-cols .admin__control-table .col-xpos,
        .admin-cols .admin__control-table .col-ypos,
        .admin-cols .admin__control-table .col-width, .admin__control-table .col-height {
            width: 30px;
            border-bottom: none;
        }

        .admin-cols .admin__control-table .col-style {
            border-bottom: none;
        }

        .admin-cols .admin__control-table .col-type {
            width: 30px;
            border-bottom: none;
        }

        .admin-cols .admin__control-table .col-delete {
            width: 30px;
            border-bottom: none;
        }

        .admin-cols .admin__control-table .col-value {
            width: 100%;
        }

        .admin-cols .admin__control-table .col-value textarea {
            width: 100%;
            height: 5em;
            min-height: 1em;
        }
    </style>
    <div class="control admin-cols">
        <table class="admin__control-table <?php echo $_jsName ?>_table" id="<?php echo $_jsName ?>_table">
            <thead>
            <tr>
                <th class="col-draggable"></th>
                <th class="col-xpos required"><?php /* @escapeNotVerified */
                echo __('Name') ?></th>
                <th class="col-ypos required"><?php /* @escapeNotVerified */
                echo __('Type') ?></th>
                <th class="col-width required"><?php /* @escapeNotVerified */
                echo __('Width') ?></th>
                <th class="col-height required"><?php /* @escapeNotVerified */
                echo __('Header CSS class') ?></th>
                <th class="col-height required"><?php /* @escapeNotVerified */
                echo __('CSS class') ?></th>
                <th class="col-delete"><?php /* @escapeNotVerified */
                echo __('Action') ?></th>
            </tr>
            </thead>
            <tbody data-role="options-container" id="<?php /* @escapeNotVerified */
            echo $_htmlId ?>_container"></tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="col-actions-add"><?php echo $block->getAddButtonHtml() ?></td>
            </tr>
            </tfoot>
        </table>

        <script id="<?php echo $_jsName; ?>RowTemplate" type="text/x-magento-template">
            <tr>
                <td class="col-draggable">
                    <?php if (!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()): ?>
                    <div data-role="draggable-handle" class="draggable-handle" title="<?php /* @escapeNotVerified */
                    echo __('Sort Option'); ?>"></div>
                    <?php endif; ?>
                    <input data-role="order" type="hidden" name="<?php /* @escapeNotVerified */
                    echo $_htmlName ?>[<%- data.index %>][sort_order]" value="<%- data.sort_order %>" <?php if ($block->getReadOnly(
                    ) || $block->canManageOptionDefaultOnly()): ?> disabled="disabled"<?php endif; ?> />
                </td>

                <td>
                    <input class="<?php /* @escapeNotVerified */
                    echo $_htmlClass ?> required-entry " type="text" name="<?php /* @escapeNotVerified */
                    echo $_htmlName ?>[<%- data.index %>][name]" value="<%- data.name %>" id="<?php echo $_jsName; ?>_row_<%- data.index %>_name" />
                </td>
                <td class="col-type">
                    <select class="<?php /* @escapeNotVerified */
                    echo $_htmlClass ?> " name="<?php /* @escapeNotVerified */
                    echo $_htmlName ?>[<%- data.index %>][type]" id="<?php echo $_jsName; ?>_row_<%- data.index %>_type">
                        <?php foreach ($block->getTypeOption() as $option): ?>
                        <option value="<?php echo $option['value']; ?>"><?php /* @escapeNotVerified */
                        echo $block->escapeJsQuote($option['label']) ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
                <td>
                    <input class="<?php /* @escapeNotVerified */
                    echo $_htmlClass ?>  " type="text" name="<?php /* @escapeNotVerified */
                    echo $_htmlName ?>[<%- data.index %>][width]" value="<%- data.width%>" id="<?php echo $_jsName; ?>_row_<%- data.index %>_width" />
                </td>
                <td>
                    <input class="<?php /* @escapeNotVerified */
                    echo $_htmlClass ?>  " type="text" name="<?php /* @escapeNotVerified */
                    echo $_htmlName ?>[<%- data.index %>][hcss]" value="<%- data.hcss %>" id="<?php echo $_jsName; ?>_row_<%- data.index %>_hcss" />
                </td>
                <td>
                    <input class="<?php /* @escapeNotVerified */
                    echo $_htmlClass ?>  " type="text" name="<?php /* @escapeNotVerified */
                    echo $_htmlName ?>[<%- data.index %>][css]" value="<%- data.css %>" id="<?php echo $_jsName; ?>_row_<%- data.index %>_css" />
                </td>
                <td class="col-delete"><input type="hidden" name="<?php /* @escapeNotVerified */
                echo $_htmlName ?>[<%- data.index %>][delete]" class="delete" value="" id="<?php echo $_jsName; ?>_row_<%- data.index %>_delete" />
                    <button title="<?php /* @escapeNotVerified */
                    echo $block->escapeHtml(
                        __('Delete')
                    ); ?>" type="button" class="action- scalable delete icon-btn delete-product-option" id="<?php echo $_jsName; ?>_row_<%- data.index %>_delete_button" onclick="return <?php echo $_jsName; ?>Control.deleteItem(event);">
                        <span><?php /* @escapeNotVerified */
                        echo __("Delete") ?></span></button>
                </td>
            </tr>
        </script>
        <script>
			require(['mage/template', "prototype", "mage/adminhtml/form"
			], function(mageTemplate) {
//<![CDATA[
				var <?php echo $_jsName;?>Control = {
					template      : mageTemplate('<?php echo '#' . $_jsName;?>RowTemplate'),
					itemsCount    : 0,
					addItem       : function(data) {
						if (!data) {
							data = {
								sort_order: this.itemsCount,
								name      : '',
								type      : '',
								width     : '',
								hcss      : '',
								css       : '',
								class     : '',
							};
						}
						data.index = this.itemsCount++;
						Element.insert($('<?php /* @escapeNotVerified */ echo $_htmlId ?>_container'), {
							bottom: this.template({
								data: data
							})
						});

						if ($('<?php echo $_jsName;?>_row_' + data.index + '_type')) {
							$('<?php echo $_jsName;?>_row_' + data.index + '_type').value = data.type;
						}

                        <?php if ($_readonly): ?>
						$('<?php /* @escapeNotVerified */ echo $_htmlId ?>_container').select('input', 'select').each(this.disableElement);
						$('<?php /* @escapeNotVerified */ echo $_htmlId ?>_container').up('table').select('button').each(this.disableElement);
                        <?php else: ?>
						$('<?php /* @escapeNotVerified */ echo $_htmlId ?>_container').select('input', 'select').each(function(el) {
							Event.observe(el, 'change', el.setHasChanges.bind(el));
						});
                        <?php endif; ?>
					},
					disableElement: function(el) {
						el.disabled = true;
						el.addClassName('disabled');
					},
					deleteItem    : function(event) {
						var tr = Event.findElement(event, 'tr');
						if (tr) {
							Element.select(tr, '.delete').each(function(elem) {
								elem.value = '1'
							});
							Element.select(tr, ['input', 'select']).each(function(elem) {
								elem.hide()
							});
							Element.hide(tr);
							Element.addClassName(tr, 'no-display template');
						}
						return false;
					}
				};
                <?php foreach ($block->getValues() as $_item): ?>
                <?php echo $_jsName;?>Control.addItem(<?php echo $this->helper('Magento\Framework\Json\Helper\Data')
                                                                      ->jsonEncode($_item);?>);
                <?php endforeach; ?>
                <?php if ($_readonly): ?>
				$('<?php /* @escapeNotVerified */ echo $_htmlId ?>_container').up('table').select('button')
					.each(<?php echo $_jsName;?>Control.disableElement);
                <?php endif; ?>

				if (1) {
					jQuery(function($) {
						$('[data-role=options-container]').sortable({
							distance : 8,
							tolerance: 'pointer',
							cancel   : 'input, button, select',
							axis     : 'y',
							update   : function() {
								$('[data-role=options-container] [data-role=order]').each(function(index, element) {
									$(element).val(index + 1);
								});
							}
						});
					});
				}
				window.<?php echo $_jsName;?>Control = <?php echo $_jsName;?>Control;
//]]>
			});
        </script>
    </div>
</div>

