<?php
// @codingStandardsIgnoreFile

/* @var $block Margins */

use Snmportal\Pdfprint\Block\Adminhtml\Template\Edit\Tab\Layout\Margins;

$element = $block->getElement();
?>
<?php $_jsName = $block->getJsName() ?>
<?php $_htmlId = $block->getElement()
                       ->getHtmlId() ?>
<?php $_htmlClass = $block->getElement()
                          ->getClass() ?>
<?php $_htmlName = $block->getElement()
                         ->getName() ?>
<?php $_readonly = $block->getElement()
                         ->getReadonly() ?>


<div class="field" id="attribute-<?php /* @escapeNotVerified */
echo $_htmlId ?>-container" data-attribute-code="<?php /* @escapeNotVerified */
echo $_htmlId ?>"
	 data-apply-to="<?php echo $block->escapeHtml(
         $this->helper('Magento\Framework\Json\Helper\Data')
              ->jsonEncode(
                  $element->hasEntityAttribute() ? $element->getEntityAttribute()
                                                           ->getApplyTo() : []
              )
     ) ?>">
    <?php if ($block->getElement()
                    ->getLabel()) : ?>
		<label class="label"><span><?php /* @escapeNotVerified */
                echo $block->getElement()
                           ->getLabel() ?></span></label>
    <?php endif; ?>
	<style>
		.admin__control-table .col-xpos,
		.admin__control-table .col-ypos,
		.admin__control-table .col-width, .admin__control-table .col-height {
			width: 30px;
			border-bottom: none;
		}

		.admin__control-table .col-style {
			border-bottom: none;
		}

		.admin__control-table .col-type {
			width: 30px;
			border-bottom: none;
		}

		.admin__control-table .col-delete {
			width: 30px;
			border-bottom: none;
		}

		.admin__control-table .col-value {
			width: 100%;
		}

		.admin__control-table .col-value textarea {
			width: 100%;
			height: 3em;
			min-height: 1em;
		}
	</style>
	<div class="control">
		<table class="admin__control-table <?php echo $_jsName ?>_table" id="<?php echo $_jsName ?>_table">
			<thead>
			<tr>
				<th class="col-xpos required"><?php /* @escapeNotVerified */
                    echo __('Left (mm)') ?></th>
				<th class="col-ypos required"><?php /* @escapeNotVerified */
                    echo __('Top (mm)') ?></th>
				<th class="col-width required"><?php /* @escapeNotVerified */
                    echo __('Right (mm)') ?></th>
				<th class="col-height required"><?php /* @escapeNotVerified */
                    echo __('Bottom (mm)') ?></th>
			</tr>
			</thead>
			<tbody id="<?php /* @escapeNotVerified */
            echo $_htmlId ?>_container"></tbody>
		</table>

		<script>
			require(['mage/template', "prototype", "mage/adminhtml/form"
			], function(mageTemplate) {

//<![CDATA[
				var <?php echo $_jsName;?>RowTemplate = '<tr>' + '<td >' + '<input class="<?php /* @escapeNotVerified */ echo $_htmlClass ?> required-entry " type="text" name="<?php /* @escapeNotVerified */ echo $_htmlName ?>[<%- data.index %>][left]" value="<%- data.left %>" id="<?php echo $_jsName;?>_row_<%- data.index %>_left" />' + '</td>' + '<td >' + '<input class="<?php /* @escapeNotVerified */ echo $_htmlClass ?> required-entry " type="text" name="<?php /* @escapeNotVerified */ echo $_htmlName ?>[<%- data.index %>][top]" value="<%- data.top %>" id="<?php echo $_jsName;?>_row_<%- data.index %>_top" />' + '</td>' + '<td >' + '<input class="<?php /* @escapeNotVerified */ echo $_htmlClass ?>  " type="text" name="<?php /* @escapeNotVerified */ echo $_htmlName ?>[<%- data.index %>][right]" value="<%- data.right%>" id="<?php echo $_jsName;?>_row_<%- data.index %>_right" />' + '</td>' + '<td >' + '<input class="<?php /* @escapeNotVerified */ echo $_htmlClass ?>  " type="text" name="<?php /* @escapeNotVerified */ echo $_htmlName ?>[<%- data.index %>][bottom]" value="<%- data.bottom %>" id="<?php echo $_jsName;?>_row_<%- data.index %>_bottom" />' + '</td>' + '</tr>';

				var <?php echo $_jsName;?>Control = {
					template         : mageTemplate(<?php echo $_jsName;?>RowTemplate),
					itemsCount       : 0,
					addItem          : function(data) {
						if (!data) {
							data = {
								left: '', top: '', right: '', bottom: '',
							};
						}
						data.index = this.itemsCount++;
						Element.insert($('<?php /* @escapeNotVerified */ echo $_htmlId ?>_container'), {
							bottom: this.template({
								data: data
							})
						});


                        <?php if ($_readonly): ?>
						$('<?php /* @escapeNotVerified */ echo $_htmlId ?>_container').select('input', 'select').each(this.disableElement);
						$('<?php /* @escapeNotVerified */ echo $_htmlId ?>_container').up('table').select('button').each(this.disableElement);
                        <?php else: ?>
						$('<?php /* @escapeNotVerified */ echo $_htmlId ?>_container').select('input', 'select').each(function(el) {
							Event.observe(el, 'change', el.setHasChanges.bind(el));
						});
                        <?php endif; ?>
					},
					disableElement   : function(el) {
						el.disabled = true;
						el.addClassName('disabled');
					},
					deleteItem       : function(event) {
						var tr = Event.findElement(event, 'tr');
						if (tr) {
							Element.select(tr, '.delete').each(function(elem) {
								elem.value = '1'
							});
							Element.select(tr, ['input', 'select']).each(function(elem) {
								elem.hide()
							});
							Element.hide(tr);
							Element.addClassName(tr, 'no-display template');
						}
						return false;
					}
				};
                <?php foreach ($block->getValues() as $_item): ?>
                <?php echo $_jsName;?>Control.addItem(<?php echo $this->helper('Magento\Framework\Json\Helper\Data')
                                                                      ->jsonEncode($_item);?>);
                <?php endforeach; ?>
                <?php if ($_readonly): ?>
				$('<?php /* @escapeNotVerified */ echo $_htmlId ?>_container').up('table').select('button')
					.each(<?php echo $_jsName;?>Control.disableElement);
                <?php endif; ?>

				window.<?php echo $_jsName;?>Control = <?php echo $_jsName;?>Control;
//]]>

			});
		</script>
	</div>
</div>

